#index{
    height:100%;
    background-color: black;
    background-image:  url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}       
nav{
    background: none;
    
}
navbar{
    align-items:left !important;
}

nav ul{
    width:100% !important;

}
nav ul li{
}
nav ul li a{
    font-size: 1.1em;
    color:white !important;
}

.navbar-toggler {
    border-color:#cccccc !important;
}
.nav-link {
    display: block;
    padding: 0.2rem;
}

button:focus{
    outline:none;
}

body{
    font-family: 'Cairo', sans-serif, open sans, verdana, arial;
}

/*ABOUT*/
#creditos{
    color: #8a8d7c;
    font-size: 0.8em;
}

#biografia{
    color: #8a8d7c;
}
#biografia div{
    height: 18em;
}

